:root{
    --color-form:#fff;
    --color-accent: #FA6B51;
    --color-subtext: #9E9A9A;
    --color-altBtn: #153B75;

    /* --color-footer: #2EBF91;
    --color-textAlt: #f2f2f2;
; */
}


html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-repeat: no-repeat;
    background-image: url(./images/background.png);
    background-size: cover;
    

}


h2{
    font-size: 4rem;
}
input{
    /* margin: 1rem 2rem; */
    /* padding: 0; */
    outline: 0;
    border: 0;
    padding: 1rem;
    /* width: 80%; */
}

select{
    padding: 1rem;
    /* margin: 1rem 0; */
}

.borderInputBox{
    border: 2px solid #746D6D;
    border-radius: 3px;
    margin: 0.5rem 0;
}

button{
    background-color: var(--color-accent);
    color: var(--color-form);
    border: 0;
    padding: 1rem;
    border-radius: 40px;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* Grids */
.grid{
    display: grid;
}

.grid--col2{
    grid-template-columns: repeat(2, 1fr);
}

.flex{
    display: flex;
}

/* Box */
.wrap--Box{

    /* height: 100vh; */
    /* width: 100vw; */
    margin: 0 auto;
}

.wrap--form{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 80vh;
    margin: 10vh auto 0 auto;
    font-size: 1.5rem;
    height: max-content;
    min-height: 80vh;
}



/* Form */
.formHeading{
    font-weight: 700;
}
.formSubHeading{
    color:var(--color-subtext);
    font-size: 2rem;
}
.form{
    text-align: center;
    background: var(--color-form);
    padding: 2rem 8rem;
    margin: 0 0;
}


/* Groups */
.wrap--Group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5vh 0;
}
.wrap--Group button{
    margin: 2rem 0;
    width: 13rem;
}



/* Image Background */
.wrap--imageBackground{
    background-image: url(./images/ImageBackground.png);

}



/* Errors */
.errorText{
    color: red;
    margin: 0 0 -2rem 0;
    font-size: 1rem;
    /* visibility: hidden; */
}

.errorBorder{
    border: 2px solid red   ;
}




@media screen and (max-width:767px) {
    .wrap--form{
        flex-direction: column;
    }
}

@media screen and (max-width:630px) {
    .grid--col2{
        grid-template-columns: auto;
    }
    .wrap--Box{
        width: auto;
        /* margin: auto; */
    }
    
}